.copy-link {
  border: 1px solid $grey-700;
  border-radius: 4px;
  font-size: 0.8rem;
  padding: 0.1rem 0.25rem;
  line-height: 1;
  white-space: nowrap;
  flex-wrap: wrap;
  svg {
    height: 0.9rem;
    width: auto;
  }

  &:after {
    content: ' Copy';
  }
}
