.survey {
  background-color: $survey-bg;
  font-size: $survey-font-size;

  &__container {
    background: $survey-bg;
    height: 100vh;

    @media screen and (min-width: $screen-md) {
      // background: $white;
      border-radius: $base-border-radius * 2;
      box-shadow: $base-box-shadow;
      height: 100vh;
      max-height: 500px;
      width: 400px;
    }
  }

  &__feed {
    overflow-y: scroll;
    flex: 1;
  }

  &__answer {
    background-color: $white;
    display: flex;
    padding: 1rem;
    width: 100%;

    @media screen and (min-width: $screen-md) {
      border-radius: 0 0 $base-border-radius $base-border-radius;
      border-top: 1px solid $grey-800;
    }
  }

  &__question,
  &__response {
    display: flex;
    margin: 1em;

    .message {
      border-radius: 0.75rem;
      box-shadow: rgba(0, 0, 20, 0.1) 0 3px 4px;
      flex: 1 1 0.333;
      font-size: 1em;
      font-weight: normal;
      margin: 0;
      max-width: 90%;
      padding: 1rem;

      &:empty {
        display: none;
      }
    }
  }

  &__question .message {
    background-color: $white;
    color: $body-color;
  }

  &__response .message {
    background-color: $primary;
    color: $white;
    margin-left: auto;
  }
}
