.survey {
  background-color: $survey-bg;
  font-size: $survey-font-size;

  &__container {
    background: $survey-bg;
    height: 100vh;

    @media screen and (min-width: $screen-md) {
      // background: $white;
      border-radius: $base-border-radius * 2;
      box-shadow: $base-box-shadow;
      height: 100vh;
      max-height: 500px;
      width: 400px;
    }
  }

  &__feed {
    overflow-y: scroll;
    flex: 1;
  }

  &__answer {
    background-color: $white;
    display: flex;
    padding: 1rem;
    width: 100%;

    @media screen and (min-width: $screen-md) {
      border-radius: 0 0 $base-border-radius $base-border-radius;
      border-top: 1px solid $grey-800;
    }
  }

  &__question,
  &__response {
    display: flex;
    margin: 1em;
    .message {
      flex: 1 1 0.333;
      padding: 10px;
      font-size: 1em;
      font-weight: normal;
      margin: 0;
      max-width: 80%;

      &:empty {
        display: none;
      }
    }
  }

  &__question .message {
    background-color: $gray-400;
    color: $body-color;
    border-radius: 15px 15px 15px 0;
  }

  &__response .message {
    background-color: $primary;
    border-radius: 15px 15px 0 15px;
    color: $white;
    margin-left: auto;
  }
}
