// Colors
$black: #000000;
$grey-100: #33334a;
$grey-800: #ced4da;
$grey-900: #faf2fa;
$white: #ffffff;

$base-font-color: $grey-100;
$base-bg-color: $grey-900;

// typography
$base-font-size: 16px;
$base-line-height: 1.5;

$base-sans: 'Inter', arial;
$headline-font: $base-sans;
$body-font: $base-sans;

// Borders and Shadows
$base-border-radius: 0.5rem;
$base-box-shadow: rgba(55, 65, 80, 0.09) 0 4px 12px,
  rgba(55, 65, 80, 0.07) 0 8px 24px;

// Screen Sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

// Survey Variables

$survey-bg: $base-bg-color;
$survey-bot-bg: $white;

$survey-font-size: $base-font-size;
