@import 'bootstrap';

.navbar-brand {
  .navbar-logo {
    width: auto;
    height: 3rem;
  }
}

.form-control {
  &::placeholder {
    color: $gray-400;
    font-style: italic;
  }
}

.form-switch-lg {
  font-size: 1.5em;
  display: flex;
  min-height: auto;

  .form-check-input {
    height: 1.5em;
    width: 2.5em;
  }
}
