@import 'components/variables', 'components/animations', 'bootstrap',
  'components/fonts', 'components/button', 'components/typography',
  'components/nav', 'components/card', 'components/survey',
  'components/scrollbar';

body {
  background: $base-bg-color;
}

#root {
  background: $base-bg-color;
  overflow: auto;
}

.response-preview {
  &__actions {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    padding: 10px;
  }
}

.shared-response {
  background-image: url('../images/bktk-logo-o50.png');
  background-position: 1rem calc(100% - 43px);
  background-repeat: no-repeat;
  background-size: 28px auto;
  box-sizing: border-box;
  position: relative;

  .response__footer {
    margin-bottom: 0;

    &:after {
      color: $grey-100;
      content: 'powered by backtalk.io';
      display: block;
      margin-top: 1rem;
      margin-left: 32px;
      opacity: 0.6;
    }
  }
}
